<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>CiTools</string>
	<key>CFBundleExecutable</key>
	<string>citools</string>
	<key>CFBundleIconFile</key>
	<string>citools.icns</string>
	<key>CFBundleIdentifier</key>
	<string>chat.tox.citools</string>
	<key>CFBundleName</key>
	<string>CiTools</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.1</string>
	<key>CFBundleSignature</key>
	<string>toxcitools</string>
	<key>CFBundleVersion</key>
	<string>0.0.1</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
